streamlit
langchain
langchain-groq
langchain-core
langchain-community
langchain-google-genai
langchain-cohere
google-cloud-firestore
cohere
PyMuPDF
plotly
python-dotenv
sentence-transformers
google-generativeai
faiss-cpu
firebase-admin
pypdf




